.heading-1 {
    font-size: 48px;
    color: #0057FF;
    text-align: center;
    font-weight: bold;
}

.heading-3 {
    font-size: 36px;
    color: #0C7003;
    text-align: left;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 100px;
}

.heading-3 .p-1 {
    float: right;
    width: 550px;
    height: 350px;
    margin-right: 100px;
    margin-top: 0%;
    border-radius: 40px;
}

body {
    background-color: #D8FFCA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f88a09;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #D9D9D9;
}

.logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    resize: both;
}

.icon {
    margin: 5px;
    padding-left: 10px;
}

.icon i {
    font-size: x-large;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    float: inline-start;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f88a09;
    height: 40px;
    margin-top: 130px;
}

.footer .fa-copyright {
    color: white;
    text-align: center;
    font-size: smaller;
    margin-top: 10px;
}